# use a standard location for the status database:
status_path "~/.local/share/pimsync/status/"

storage calendars_remote {
  type caldav
  url https://caldav.example.com/
  username hugo@example.com
  password 123
}

storage calendars_local {
  type vdir/icalendar
  path ~/calendars/
  fileext ics
}

pair calendars {
  storage_a calendars_local
  storage_b calendars_remote
  collections all
}